<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt2">
                    <div class="container text-center">
                        <img class="img" src="../../../assets/logo.jpg" alt="">
                    </div>
                    <h1 class="text-center" color="accent">welcome</h1>
                    <div class="container text-center">
                        <button mat-raised-button color="accent" class="btn">Home Page </button>
                    </div>
                </mat-card>
            </div>

        </div>

    </div>
</div>