/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: #EFEBE9;}
.text-center{
    text-align: center;
}
.mt2{
    margin-top: 20px!important;
}
.mb2{
    margin-bottom: 20px!important;
}
.mr2{
    margin-right: 20px!important;
}
.ml2{
    margin-left: 20px!important;
}

.mt1{
    margin-top: 10px!important;
}
.mb1{
    margin-bottom: 10px!important;
}
.mr1{
    margin-right: 20px!important;
}
.ml1{
    margin-left: 10px!important;
}
.mr3{
    margin-right: 30px!important;
}